body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 1030px;
  margin: 0 auto;
}
.header {
  margin: 46px 0 17px;
}
.header-logo-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo-img-2 {
  display: none;
}
.logo:hover .logo-img-1 {
  display: none;
}
.logo:hover .logo-img-2 {
  display: flex;
}
.logo:hover p {
  color: #f26522;
}
.logo-text {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 29px;
  line-height: 35px;
  margin-left: 8px;
}
.logo-text span {
  display: flex;
  font-size: 18px;
  line-height: 18px;
}
.logo-text:hover {
  color: #f26522;
}
.header-contact-mail {
  margin-bottom: 19px;
}
.mail,
.tel {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  transition: color 0.5s linear;
}
.mail:hover {
  color: #f26522;
}
.tel:hover {
  color: #f26522;
}
.main-tours {
  flex: 1 1 auto;
}
.tours-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
}
.tours-item {
  margin-bottom: 38px;
  position: relative;
}
.tours-item:hover .tour-description {
  visibility: visible;
  transform: translateY(5px);
}
.tours-item:hover .tour-desc-name {
  color: #f26522;
  transform: translateY(10px);
}
.tour-img {
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.tour-description {
  display: flex;
  justify-content: space-between;
  background-color: #f26522;
  color: #ffffff;
  position: absolute;
  bottom: 43px;
  right: 0;
  left: 0;
  visibility: hidden;
  transition: transform 0.5s linear;
}
.tour-desc-price {
  font-size: 10px;
  line-height: 10px;
  margin: 7px 0 12px 16px;
}
.tour-desc-price span {
  display: block;
  font-size: 20px;
  line-height: 20px;
  padding-top: 8px;
}
.tour-desc-details {
  font-size: 14px;
  line-height: 14px;
  margin: 29px 0 12px 0;
}
.tour-desc-details::after {
  content: url(../images/arrow.svg);
  width: 5px;
  height: 10px;
  margin: 0 14px 0 16px;
  display: inline-block;
}
.tour-desc-name {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  transition: transform 0.5s linear;
}
.footer {
  margin: 11px 0 15px;
}
.footer-text {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
}
